.site-wrapper-inner > div {
	width: 300px;
    display: inline-block;
}
.form_text {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
}
.bg-danger {
	background-color: #ff4f4f;
}